<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.body.gg.domain.mapper.BodyInfoMapper">

    <select id="bodyInfoSelectAll" resultType="com.body.gg.domain.entity.BodyInfoEntity">
        SELECT u_id,part.p_name as p_name,size,m_name,c_date,p_table FROM head INNER JOIN part ON head.p_name = part.p_name WHERE u_id = #{_uId}
        UNION ALL
        SELECT u_id,part.p_name,size,m_name,c_date,p_table FROM top INNER JOIN part ON top.p_name = part.p_name WHERE u_id = #{_uId}
        UNION ALL
        SELECT u_id,part.p_name,size,m_name,c_date,p_table FROM bot INNER JOIN part ON bot.p_name = part.p_name WHERE u_id = #{_uId}
        UNION ALL
        SELECT u_id,part.p_name,size,m_name,c_date,p_table FROM foot INNER JOIN part ON foot.p_name = part.p_name WHERE u_id = #{_uId}
        UNION ALL
        SELECT u_id,part.p_name,size,m_name,c_date,p_table FROM st_part INNER JOIN part ON st_part.p_name = part.p_name WHERE u_id = #{_uId}
    </select>

    <select id="bodyInfoSelectPart" resultType="com.body.gg.domain.entity.BodyInfoEntity">
        SELECT u_id,part.p_name,size,m_name,c_date FROM ${_table} INNER JOIN part ON ${_table}.p_name = part.p_name WHERE u_id = #{_uId}
    </select>

    <select id="selectInfoBody" resultType="com.body.gg.domain.entity.BodyInfoEntity">
        SELECT * FROM ${_table} WHERE u_id = #{_uId} AND p_name = #{_pName} AND m_name = #{_mmtName};
    </select>

    <insert id = "insertUserInfo">
        INSERT INTO ${_table}(u_id,p_name,size,m_name) VALUES (#{_uId},#{_part},#{_size},#{_mmt});
    </insert>

    <update id = "updateUserInfo">
        UPDATE ${_table} set size = #{_size} WHERE u_id = #{_uId} AND p_name = #{_part} AND m_name = #{_mmt};
    </update>

    <select id="bodyInfoSelect" resultType="com.body.gg.domain.entity.BodyInfoEntity">
        SELECT * FROM ${_table} WHERE u_id =#{_id};
    </select>
</mapper>
