<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.body.gg.domain.mapper.MeasurementMapper">

    <select id="selectInfoMeasurement" resultType="com.body.gg.domain.entity.MeasurementEntity">
        SELECT * FROM measurement WHERE g_id = (SELECT g_id FROM part WHERE p_name = #{_mName})
    </select>


    <select id="selectInfoGroupIdOfMeasurementName" resultType="com.body.gg.domain.entity.MeasurementEntity">
        SELECT g_id FROM body.measurement where m_name = #{_mName};
    </select>

</mapper>
