<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.body.gg.domain.mapper.UserMapper">

    <select id="findUser" resultType="com.body.gg.domain.entity.UserEntity">
        SELECT *
        FROM user
        WHERE u_email = #{email} and u_oauth = #{oauth}
    </select>

    <insert id="insertUser">
        INSERT INTO user(u_email,u_name,u_oauth) VALUES (#{email},#{name},#{oauth});
    </insert>

    <update id="updateUserGender">
        UPDATE user set u_gender = #{_gender} WHERE u_id = #{_uId}
    </update>

    <select id="selectUserGender" resultType="com.body.gg.domain.entity.UserEntity">
        SELECT u_gender FROM user WHERE u_id = #{_uId}
    </select>

    <select id="checkFirstUser" resultType="com.body.gg.domain.entity.UserEntity">
        SELECT *
        FROM user
        WHERE u_id = #{_uId}
    </select>

</mapper>
